--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.30
jaxlib==0.4.30

jupyterlab==4.3.2
jupytext==1.16.4
matplotlib==3.9.3
numpy==1.26.0
scipy==1.14.1
